<div class="mypage-image">
<h1>編集ページ</h1>

<%= form_with model:@user, url:page_path, local:true do |f|%>
  <div>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :text, "プロフィール文" %><br />
    <%= f.text_area :text %>
  </div>
  <div>
    <%= f.submit "完了" %>
  </div>
<% end %>

<%= link_to "戻る", page_path(current_user.id), class:"btn btn-light rounded-pill px-2" %>
