<div class="mypage-image">
  <h1 class="roomname-bg text-shadow text-white"><%= @user.name %>さんのページ・投稿</h1>

  <div class="d-flex align-items-center justify-content-center flex-column mypage-scroll">
    <div class="m-4 image-shadow">
      <% if @user.image.attached? %>
        <%= image_tag @user.image.variant(combine_options:{gravity: :center, resize:"250x250^",crop:"250x250+0+0"}).processed %>
      <% end %>
    </div>

    <h1 class="text-center text-white text-shadow mb-5"><%= @user.name %></h1>

    <div class="bg-white border border-dark prf-size box-shadow">
      <%= @user.text %>
    </div>

    <div class="m-3">
      <% if current_user.id == @user.id %>
        <%= link_to "編集", edit_page_path(current_user.id), class:"btn btn-light rounded-pill px-3 box-shadow" %>
      <% end %>
    </div>

    <div class="mypage-tweet-scroll d-flex justify-content-start align-items-center">
      <% @tweets.each do |tweet| %>
        <% if tweet.user == current_user%>
          <div class="d-inline-block mx-3">
            <div class="d-flex justify-content-center align-items-center flex-column image-shadow">
              <% if tweet.image.attached? %>
                <a href="/tweets/<%= tweet.id %>"><%= image_tag tweet.image.variant(combine_options:{gravity: :center, resize:"150x150^",crop:"150x150+0+0"}).processed %></a>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
