<div class="top-image">

<div class="mb-3 d-flex justify-content-start align-items-center">
  <h1 class="text-white text-shadow fivewords-bg">皆様の投稿</h1>
  <%= link_to "新規投稿はこちら",new_tweet_path, class:"btn btn-light rounded-pill px-2 mx-4 box-shadow" %>
</div>

<div class="tweet-scroll d-flex justify-content-start align-items-center tweet-bar-bg">
  <% if @tweets.length !=0 %>
    <% @tweets.each do |tweet| %>
      <div class="d-inline-block mx-3">
        <div class="d-flex justify-content-center align-items-center flex-column image-shadow">
          <% if tweet.image.attached? %>
            <div class=""><a href="/tweets/<%= tweet.id %>"><%= image_tag tweet.image.variant(combine_options:{gravity: :center, resize:"200x200^",crop:"200x200+0+0"}).processed %></a></div>
          <% end %>
          <div class="tweet-title-bg text-center text-white text-shadow mt-2 rounded-pill">
            <div class="h4"><%= tweet.title %></div>
            <div><%= link_to tweet.user.name, page_path(tweet.user.id), class:"text-white" %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="h2 text-white text-shadow my-3">現在、投稿はありません</div>
  <% end %>
<div>
