<!DOCTYPE html>
<html>
  <head>
    <title>MtBeginner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>

  <body>
    <header>
      <nav class="p-4 header d-flex justify-content-between">
        <% if user_signed_in? %>
          <%=link_to image_tag("rogomark.png", class:"size"), pages_top_path, class:"d-flex align-items-center justify-content-start" %>
          <div class="d-flex align-items-center justify-content-center">
            <a href="/pages/<%= current_user.id %>" class="h4 text-white mx-4 text-nowrap">
              <span>こんにちは、<%= (current_user.name) %>さん</span>
            </a>
            <div type="button" class="btn btn-light rounded-pill px-3 mx-4 text-nowrap" ><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "text-reset font-weight-bold" %></div>

            <div class="nav-wrapper">
              <nav class="header-nav d-flex align-items-center justify-content-center text-center h4">
                <ul class="nav-list list-unstyled">
                  <% if current_user.admin? %>
                    <li class="nav-item my-5"><a href="/admin/mountains" class="text-white">山検索(管理者ページ)</a></li>
                    <li class="nav-item my-5"><a href="/tweets" class="text-white">投稿管理(管理者ページ)</a></li>
                    <li class="nav-item my-5"><a href="/rooms" class="text-white">ルーム管理(管理者ページ)</a></li>
                  <% end %>
                  <li class="nav-item my-5"><a href="/pages/<%= current_user.id %>" class="text-white">マイページ</a></li>
                  <li class="nav-item my-5"><a href="/mountains" class="text-white">山検索</a></li>
                  <li class="nav-item my-5"><a href="/tweets/new" class="text-white">写真投稿</a></li>
                  <li class="nav-item my-5"><a href="/rooms/new" class="text-white">チャットルーム作成</a></li>
                  <li class="nav-item my-5"><a href="/rooms/<%= current_user.id %>" class="text-white">参加ルーム一覧</a></li>
                </ul>
              </nav>
            </div>
            <div class="burger-btn mx-4">
              <span class="bar bar_top"></span>
              <span class="bar bar_mid"></span>
              <span class="bar bar_bottom"></span>
            </div>
          </div>
        <% else %>
            <%= link_to image_tag("rogomark.png", class:"size"), root_path, class:"d-flex align-items-center justify-content-start" %>
            <div class="d-flex align-items-center justify-content-center">
              <div type="button" class="btn btn-light rounded-pill px-3 mx-3"><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "text-reset font-weight-bold" %></div>
              <div type="button" class="btn btn-light rounded-pill px-3 mx-3"><%= link_to 'ログイン', new_user_session_path, class: "text-reset font-weight-bold" %></div>
              <div type="button" class="btn btn-light rounded-pill px-3 mx-3"><%= link_to '新規登録', new_user_registration_path, class: "text-reset font-weight-bold" %></div>
            </div>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
